.product-card {
    background: #dacfbd;
    border-radius: 15px;
    width: 180px;
    min-height: 320px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

    transition: all 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;

    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    color: #02332d;
    margin: 5px 0;
}

.product-card p {
    color: #7f1100;
    font-weight: 600;
    font-size: 20px;
    margin: 5px 0 10px;
}

.product-actions {
    width: 100%;
    margin-top: auto;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-bottom: 12px;
}

.qty-btn {
    width: 32px;
    height: 32px;

    border: none;
    border-radius: 8px;

    background: #02332d;
    color: white;

    cursor: pointer;
    font-size: 16px;
}

.qty-display {
    min-width: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #02332d;
}

.add-to-cart-btn,
.remove-cart-btn {
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.add-to-cart-btn {
    background: #7f1100;
    color: white;
}

.remove-cart-btn {
    background: #bf9861;
    color: white;
}