.product-card{
    background:#dacfbd;
    border-radius:20px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    transition:0.3s;
    width:180px;
    height:200px;
}

.category-card{
    display:block;
    color:inherit;
    text-decoration:none;
}

.product-card:hover{
    transform:translateY(-5px);
}

.product-card img{
    width:90px;
    height:90px;
    object-fit:contain;
}

.product-card h3{
    color:#02332d;
    margin-top:15px;
}

.product-card p{
    color:#7f1100;
    font-weight:600;
    font-size:18px;
}

.product-actions{
    margin-top:10px;
}

.quantity-selector{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.qty-btn{
    width:25px;
    height:25px;
    border:none;
    border-radius:8px;
    background:#02332d;
    color:white;
    cursor:pointer;
    font-size:15px;
}

.qty-btn:hover{
    background:#03443c;
}

.qty-display{
    min-width:20px;
    font-size:13px;
    font-weight:bold;
    color:#02332d;
}

.add-to-cart-btn{
    width:100%;
    background:#7f1100;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.add-to-cart-btn:hover{
    opacity:0.9;
}

.remove-cart-btn{
    width:100%;
    background:#bf9861;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.remove-cart-btn:hover{
    opacity:0.9;
}
